.container {
    justify-content: center;
}

.div-button {
    text-align: center;
}

.div-input {
    text-align: center;
}

button {
    width: 100px;
    height: 100px;
    border: none;
    background-color: #00272d;
    color: white;
    font-size: 25px;
}
